<!doctype html>
<html lang="en" ng-app="phoneListApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS List App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="phoneListController">

<div class="row">
    <div class="col-md-2">
        <input ng-model="query"/>
    </div>
    <div class="col-md-8">
        <ul>
            <li ng-repeat="phone in phones | filter:query">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
